.messagesSection {
  width: 75vw;
  max-height: 100vh;
  background-color: var(--mainColor);
}

.startChat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-weight: bold;
}

.messagesSection .messagesSectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: var(--altSecondaryColor);
}

.messagesSection .messagesSectionHeader .friendName {
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.messagesSection .messagesSectionHeader .moreInfoBtn {
  display: flex;
  align-items: center;
  width: 30px;
  height: 25px;
  background-color: transparent;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.messagesSection .messagesSectionHeader .moreInfoBtn .moreInfoIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.messagesSection .messagesSectionBody {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  padding: 15px;
  gap: 10px;
  overflow-y: scroll;
}

.messagesSection .messagesSectionFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 20px;
  background-color: white;
}

.messagesSection .messagesSectionFooter .messageInput {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}

.messagesSection .messagesSectionFooter .messageInput:focus::placeholder {
  opacity: 0;
}

.messagesSection .messagesSectionFooter .actions {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.messagesSection .messagesSectionFooter .actions input {
  display: none;
}

.messagesSection .messagesSectionFooter .actions .imageAttachment img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.messagesSection .messagesSectionFooter .actions .sendBtn {
  background-color: var(--altSecondaryColor);
  padding: 5px 10px;
  height: 30px;
  margin-left: 15px;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  cursor: pointer;
}

.messagesSection .messagesSectionFooter .actions .sendBtn:hover {
  background-color: var(--secondaryColor);
}

.hide {
  display: none;
}